<!DOCTYPE html>

<html lang="ja">

<head>

<title>HOME</title>
<meta charset="utf-8">

</head>

<body>

<h1>ぺごぱ</h1>

		<% @users.each do |user|%>
		
		<table>
			

			<tbody>
		
			<td>
			<%= user.name%>
		    </td>
		        
		       
		<td>
			<%= user.location%>
		</td>
			
		
		<td>
			
		<%= user.station%>
			</td>
		
		
			<td>
			
		<%= user.map_url%>
			</td>
		
		
			<td>
			<%= user.open%>
		</td>
	
		
		<td>
			<%= user.comment%>
		</td>
	
		
	</tbody>

	<% end %>

</body>

</html>

